<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:theme="@style/OC_Theme" />

        <activity
            android:name=".ui.ConsentActivity"
            android:exported="false"
            android:theme="@style/OC_Theme" />

        <activity
            android:name=".ui.CredentialSelectionActivity"
            android:exported="false"
            android:theme="@style/OC_Theme" />
    </application>

</manifest>
